<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pc.app_lock">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".service.MyService" />
        <service android:name=".service.GroupService" />

        <activity
            android:name=".activity.MainActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ControlActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name=".activity.AddGroupActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.LockActivity"
            android:excludeFromRecents="true" />

        <receiver android:name=".service.AlarmReceiver">
            <intent-filter>
                <action android:name="createalarm" />
                <action android:name="actioncancelnotification" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ChangePasswordActivity"></activity>
    </application>

</manifest>